body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

#gameCanvas {
  border: 2px solid white;
  background: linear-gradient(to right, #222, #444);
}
body {
  background-image: url("images/wallpaper.jpg");
}